/*center image*/
.image {
    padding: 235px;
    display: flex;
    justify-content: center;
}

img {
    height: 200px;
    width: 200px;
}

/*contact info and function*/
.contact-info {
    position: relative;
    border: 1px solid blue;
    background-color: rgba(96, 114, 218, 0.507);
}

.contact-info form label{
    display: block;
}