header {
    position: fixed;
    top: 0;
    width: 100%;
}

header h1 #site {
    color:#76777F ;
}

header {
    background-color: rgba(96, 114, 218, 0.835);
    padding: 20px;
    color: rgb(243, 237, 237);

}

header h1 {
    display: inline-block;
    font-size: 45px;
}


header section {
    padding-top: 20 px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

ul li {
    display: inline-block;
    padding-right: 20px;
    padding-top: 25px;

}

header a {
    color: rgb(243, 237, 237);
    text-decoration: none;
}